/********************** 
 *    Global Styles
 **********************/
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
.no-text-select {
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/********************** 
 * Key Site Font (source-sans-pro)
 **********************/
@font-face {
	font-family: 'Open Sans', sans-serif;
}
@font-face {
	font-family: source-sans-pro-regular;
	src: url('../fonts/SourceSansPro-Regular.otf');
}
@font-face {
	font-family: source-sans-pro-bold;
	src: url('../fonts/SourceSansPro-Bold.otf');
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans';
	color: #000;
}
body {
	font-family: source-sans-pro-regular, Arial, Helvetica, serif;
}
.optimus {
	font-family: source-sans-pro-regular;
	font-size: 1.2em;
}
span.optimus {
	font-family: source-sans-pro-regular;
	/*font-weight: bold;*/
	font-size: 1.2em;
}

/********************** 
 *   Infinite Swipe
 **********************/
.infiniteSwipe {
	font-family: Arial, Helvetica, serif
	font-weight: normal;
	font-size: 1rem;
	line-height: 1.6;
	margin-bottom: 1.25rem;
	text-rendering: optimizeLegibility;
}

/********************** 
 * Foundation: Top Bar Styling
 **********************/
.top-bar-section li.active:not(.has-form) a:not(.button) {
	background: #d02000;
	/* background: #ff2701; */
	/* background: #911703; */
	/* background: #dc411c; */
}
.top-bar-section li.active:not(.has-form) a:not(.button):hover {
	background: #a61a00;
}

/********************** 
 * Foundation: Side Nav Styling
 **********************/
.side-nav li a:not(.button) {
	color: #a61a00;
}
.side-nav li.active>a:first-child:not(.button) {
	color: #ff2701;	
}
.side-nav li a:not(.button):hover, .side-nav li a:not(.button):focus {
	color: #ffffff;	
}

/********************** 
 *    Swipe Bullets
 **********************/
.orbit-bullets li.active {
	background: #999999 !important;
}
.orbit-container .orbit-bullets li {
	background: #fff;
	cursor: pointer;
	width: 1.2rem;
	height: 1.2rem;
	margin-right: 20px;
}

/********************** 
 *    	 SwipeJS
 **********************/
.swipe {
	overflow: hidden;
	visibility: hidden;
	position: relative;
}
.swipe-wrap {
	overflow: hidden;
	position: relative;
}
.swipe-wrap > div {
	float:left;
	width:100%;
	position: relative;
}
.swipe-wrap img {
	width:100%;
}

/********************** 
 *   MediaElementJS
 **********************/
.mejs-container {
	height: 130px !important;
}
.mejs-controls {
	top: 0 !important;
}
.mejs-playpause-button {
	display: none !important;
	position: absolute !important;
	top: 25px;
}
.mejs-time-rail {
	width: calc(100% - 72px) !important;
}
.mejs-mute {
	position: absolute !important;
	top: 100px !important;
}
.mejs-horizontal-volume-slider {
	position: absolute !important;
	top: 100px !important;
	left: 26px !important;
	width: calc(100% - 52px) !important;
}
.mejs-horizontal-volume-total {
	width: 100% !important;
}

/*
mejs-button mejs-playpause-button mejs-play
*/



/* 
Colors:

Red1: dc411c
Red2: ff2700

*/
