/********************** 
 *    Global Styles
 **********************/

 @font-face {
	font-family: optimus-princeps;
	src: url('../fonts/OptimusPrinceps.ttf');
}

h1, h2, h3, h4, h5, h6 {
	font-family: optimus-princeps;
	color: #000;
}
p {
	font-family: Arial, Helvetica, serif;
}

.optimus {
	font-family: optimus-princeps;
	font-size: 1.2em;
}
.optimus p {
	font-family: optimus-princeps;
	font-weight: 500px;
	font-size: 1.2em;
}

/* 
Colors:

Red1: dc411c
Red2: ff2700

*/