<!DOCTYPE html>
<!--[if IE 8]>               
<html class="no-js lt-ie9" lang="en" > 
<![endif]-->
<!--[if gt IE 8]><!--> 
<html data-ng-app="msmApp" class="no-js" lang="en">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Multiply Student Ministry</title>
  <!-- ICONS/LOGOS -->
  <link href="img/multiplylogo.png" rel="icon" type="image/x-icon"/>
  <link rel="apple-touch-icon" href="img/multiplylogo.png"/>
  <link rel="apple-touch-icon-precomposed" href="img/multiplylogo.png"/>

  <!-- Zurb: All Foundation CSS Files -->
  <link rel="stylesheet" href="css/foundationCSS.min.css"/>

  <!-- MediaElement.js -->
  <!--
  <link rel="stylesheet" href="css/mediaelementplayer.min.css"/>
  -->

  <!-- Responsive AudioPlayer -->
  <link rel="stylesheet" href="css/audioplayer.css" />

  <!-- Custom CSS -->
  <link rel="stylesheet" href="css/site.css"/>

  <script src="js/vendor/modernizr.js"></script>

  <!-- Inline Styles -->
  <style type="text/css">
    body {
      background: #f5f4f0 url('img/Smushed/site_background-large.jpg') center top repeat-y;
      background-size: 100%;
    }
    @media screen and (max-width: 1024px){
      body {
        background: #f5f4f0 url('img/Smushed/site_background-medium.jpg') center top repeat-y;
        background-size: 100%;
      }
    }
    @media screen and (max-width: 640px){
      body {
        background: #f5f4f0 url('img/Smushed/site_background-small.jpg') center top repeat-y;
        background-size: 100%;
      }
    }
  </style>
</head>
<body ng-controller="TopBar">
  <!-- Top Bar HTML End -->
  <div class="off-canvas-wrap">
    <div class="inner-wrap">
      <!-- New Top Bar HTML Start -->
      <div>

        <!-- <Top Bar Left & Right Fills> -->
        <div style="position: absolute; height: 45px; width: 100%; background-color: #333;"></div>
        <!-- </Top Bar Left & Right Fills> -->

        <div class="row slide-top-bar">
          <nav class="hide-for-small top-bar" data-topbar>
            <ul class="title-area">
              <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
            </ul>
            
            <section class="top-bar-section">
              <!-- Right Nav Section -->

              <!-- Left Nav Section -->
              <ul class="left menu-options">
                <li class="" ng-repeat="item in itemsLeft" ng-click="select(item)" ng-class="{active: item === selected}">
                  <a href="{{item.url}}" ng-cloak>{{item.name}}</a>
                </li>
                <li class="has-dropdown" ng-click="ministrySelected=true; selected=null;" ng-class="{active: ministrySelected}">
                  <a href="#/events">Ministries</a>
                  <ul class="dropdown">
                    <li><a style="background: #333;" href="#/weekly#biblestudy">Weekly Ministries</a></li>
                    <li><a style="background: #333;" href="#/initiative">The Multiply Initiative</a></li>
                    <li><a style="background: #333;" href="#/upcoming">Upcoming Ministry Events</a></li>
                  </ul>
                </li>
                <li class="" ng-repeat="item in itemsRight" ng-click="select(item)" ng-class="{active: item === selected}">
                  <a href="{{item.url}}" ng-cloak>{{item.name}}</a>
                </li>
              </ul>
            </section>
          </nav>
        </div>
      </div>
      <!-- New Top Bar HTML End -->

      <!-- <New Off Canvas HTML> -->
      <nav class="hide-for-medium-up top-bar tab-bar">
        <section class="left-small">
          <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
        </section>

        <section class="middle tab-bar-section">
          <h1 class="title hide-for-small-only">Multiply Student Ministry</h1>
          <h1 class="title show-for-small-only">Multiply</h1>
        </section>
      </nav>
      <!-- </New Off Canvas HTML> -->

      <aside class="left-off-canvas-menu">
        <ul class="off-canvas-list">
          <li><label>Multiply Student Ministry</label></li>
          <li class="" ng-repeat="item in sideBarItems" ng-click="select(item)" ng-class="{active: item == selected}">
            <label ng-if="item.label" ng-click="go(item.path)">{{item.name}}</label>
            <a ng-if="!item.label" href="{{item.url}}" ng-cloak>{{item.name}}</a>
          </li>
        </ul>
      </aside>

      <section class="main-section">
        <div class="row">
          <div class="small-12 columns">
            
            <!-- < NG VIEW > -->
            <div data-ng-view></div>
            <!-- </ NG VIEW > -->

            <hr/>
            <!-- <Connect Panel> -->
            <div class="row">
              <div class="small-12 columns">
                <h2 style="color: #ff2701;">Connect</h2>
              </div>
            </div>
            <div class="row">
              <div style="background-color: #222;"  class="expand-on-small small-12 columns">
                <div>
                  <br/>
                  <p style="color: #ffffff;">
                    We have a variety of ways to keep you informed of our activities here at <span class="optimus">Multiply Student Ministry</span>
                  </p>
                  <a href="http://roost.me/fkx" target="_blank">
                    <div class="small-12 medium-6 columns">
                      <h3 style="color: #ff2701;"><i class="fi-star" target="_blank"></i> NOTIFICATIONS</h3>
                    </div>
                  </a>
                  <a href="https://www.facebook.com/pages/Multiply-Student-Ministry/162835727236764" target="_blank">
                    <div class="small-12 medium-6 columns">
                      <h3 style="color: #ff2701;"><i class="fi-social-facebook"></i> FACEBOOK</h3>
                    </div>
                  </a>
                  <a href="https://twitter.com/MultiplySM" target="_blank">
                    <div class="small-12 medium-6 columns">
                      <h3 style="color: #ff2701;"><i class="fi-social-twitter"></i> TWEETS</h3>
                    </div>
                  </a>
                  <a href="http://www.youtube.com/channel/UC1_FvX4zpH6mjViinxhsQqg" target="_blank">
                    <div class="small-12 medium-6 columns">
                      <h3 style="color: #ff2701;"><i class="fi-social-youtube"></i> YOUTUBE</h3>
                    </div>
                  </a>
                </div>

                <hr/>
                <footer>
                <dl ng-controller="TopBar" class="sub-nav" ng-cloak>
                  <dd ng-repeat="item in items" ng-click="select(item)"><a href="{{item.url}}" ng-cloak  style="color: #ffffff;">{{item.name}}</a></dd>
                </dl>
                <p style="color: #ffffff;">&copy; Copyright 2014 <a href="http://foundersbaptist.org" target="_blank">Founders Baptist Church</a></p>
              </footer>

              </div>
            </div>
            <!-- </Connect Panel> -->
          </div>
        </div>
      </section>

    <a class="exit-off-canvas"></a>

    </div>
  </div>

  <!-- All Static JS Files: Foundation, Angular, MediaElement, SwipeJS -->
  <script src="js/combinedStatic.js"></script>

  <!-- Responsive AudioPlayer -->  
  <script src="js/audioplayer.min.js"></script>

  <!-- Custom Javascript -->
  <script src="js/app.js"></script>

  <script>
    $(document).foundation();var _roost=_roost||[];_roost.push(["appkey","a9439828ac2b41948c73cfdd9ce2b184"]);!function(e,a,f){var c,b=e.getElementsByTagName(a)[0];if(!e.getElementById(f)){c=e.createElement(a);c.id=f;c.src="//get.roost.me/js/roost.js";/*b.parentNode.insertBefore(c,b)*/}}(document,"script","roost-js");(function(d,e,j,h,f,c,b){d.GoogleAnalyticsObject=f;d[f]=d[f]||function(){(d[f].q=d[f].q||[]).push(arguments)},d[f].l=1*new Date();c=e.createElement(j),b=e.getElementsByTagName(j)[0];c.async=1;c.src=h;b.parentNode.insertBefore(c,b)})(window,document,"script","//www.google-analytics.com/analytics.js","ga");ga("create","UA-44418703-1","multiplystudentministry.com");var refTagger={settings:{bibleVersion:"ESV"}};(function(e,a){var c=e.createElement(a),b=e.getElementsByTagName(a)[0];c.src="//api.reftagger.com/v2/RefTagger.js";b.parentNode.insertBefore(c,b)}(document,"script"));
  </script>

  <!--
  <script src="http://bible.logos.com/jsapi/referencetagging.js"></script>
  -->
    
</body>
</html>
