<!DOCTYPE html>
<!--[if IE 8]>               
<html class="no-js lt-ie9" lang="en" > 
<![endif]-->
<!--[if gt IE 8]><!--> 
<html data-ng-app="msmApp" class="no-js" lang="en">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Multiply Student Ministry</title>
  <!-- ICONS/LOGOS -->
  <link href="img/multiplylogo.png" rel="icon" type="image/x-icon"/>
  <link rel="apple-touch-icon" href="img/multiplylogo.png"/>
  <link rel="apple-touch-icon-precomposed" href="img/multiplylogo.png"/>

  <link rel="stylesheet" href="css/foundation.min.css"/>
  <link rel="stylesheet" href="css/general_foundicons.css"/>
  <link rel="stylesheet" href="css/social_foundicons.css"/>
  <link rel="stylesheet" href="css/accessibility_foundicons.css"/>
  <link rel="stylesheet" href="css/mediaelementplayer.min.css"/>
  <link rel="stylesheet" href="css/site.css"/>

  <script src="js/vendor/custom.modernizr.js"></script>

  <script>
    /*
    var _roost = _roost || [];
    _roost.push(['appkey','a9439828ac2b41948c73cfdd9ce2b184']);

    !function(d,s,id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if(!d.getElementById(id)){
            js=d.createElement(s); js.id=id;
            js.src='//get.roost.me/js/roost.js';
            fjs.parentNode.insertBefore(js,fjs);
        }
    }(document, 'script', 'roost-js');
    //*/
  </script>
</head>

<body>
  <div class="row inner-wrap">
    <div class="large-12 columns top-banner">
      <a href="#">
        <img src="img/multiplybanner240.png" data-interchange="[img/multiplybanner480.png, (small)], [img/multiplybanner240.png, (default)]">
      </a>
    </div>
  </div>

  <!-- Top Bar HTML Start -->
  <!--
  <div ng-controller="TopBar">

    <div id="sideNav">
      <div class="fill-sidebar">
        <div class="sidebar-close-button">
          <a ng-click="toggleSlide()"><i class="foundicongen-remove"></i></a>
        </div>
        <ul>
          <li class="menu-options" ng-repeat="item in items" ng-click="select(item)" ng-class="{active: item == selected}"><a href="{{item.url}}" ng-cloak>{{item.name}}</a></li>
        </ul>
      </div>
    </div>
    <div class="row slide-top-bar inner-wrap">
      <div class="large-12 columns">
        <div id="nav">
          <ul class="left">
            <li class="menu-options" ng-repeat="item in items" ng-click="select(item)" ng-class="{active: item == selected}"><a href="{{item.url}}" ng-cloak>{{item.name}}</a></li>
          </ul>
          <div class="sidebar-button">
            <a ng-click="toggleSlide()"><img src="img/nav-icon.png"></a>
          </div>
          <ul id="socialMedia" class="right">
            <li><a href="https://www.facebook.com/pages/Multiply-Student-Ministry/162835727236764" target="_blank"><i class="foundicon-facebook"></i></a></li>
            <li><a href="https://twitter.com/MultiplySM" target="_blank"><i class="foundicon-twitter"></i></a></li>
            <li><a href="http://www.youtube.com/channel/UC1_FvX4zpH6mjViinxhsQqg" target="_blank"><i class="foundicon-youtube"></i></a></li>
            <li id="subscribeButton" class="subscribe"><a href="https://launch.alertrocket.com/register?appKey=a9439828ac2b41948c73cfdd9ce2b184" target="_blank"><i class="foundicongen-star"></i><span>Subscribe</span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  -->
  <!-- Top Bar HTML End -->
  <div class="off-canvas-wrap">
    <div class="inner-wrap">
      <!-- New Top Bar HTML Start -->
      <div ng-controller="TopBar">
        <div class="row slide-top-bar">
          <nav class="hide-for-small top-bar" data-topbar>
            <ul class="title-area">
              <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
            </ul>

            <section class="top-bar-section">
              <!-- Right Nav Section -->
              <!--
              <ul class="right">

                <li class="active"><a href="#">Right Nav Button Active</a></li>
                <li class="has-dropdown">
                  <a href="#">Right Button with Dropdown</a>
                  <ul class="dropdown">
                    <li><a href="#">First link in dropdown</a></li>
                  </ul>
                </li>
              </ul>
              -->

              <!-- Left Nav Section -->
              <ul class="left menu-options">
                <li class="" ng-repeat="item in items" ng-click="select(item)" ng-class="{active: item == selected}">
                  <a href="{{item.url}}" ng-cloak>{{item.name}}</a>
                </li>
                <li><a href="https://www.facebook.com/pages/Multiply-Student-Ministry/162835727236764" target="_blank"><i class="foundicon-facebook"></i></a></li>
                <li><a href="https://twitter.com/MultiplySM" target="_blank"><i class="foundicon-twitter"></i></a></li>
                <li><a href="http://www.youtube.com/channel/UC1_FvX4zpH6mjViinxhsQqg" target="_blank"><i class="foundicon-youtube"></i></a></li>
                <li id="subscribeButton" class="subscribe"><a href="https://launch.alertrocket.com/register?appKey=a9439828ac2b41948c73cfdd9ce2b184" target="_blank"><i class="foundicongen-star"></i><span>Subscribe</span></a></li>
              </ul>
            </section>
          </nav>
        </div>
      </div>
      <!-- New Top Bar HTML End -->
      <!-- New Off Canvas HTML Start -->
      <nav class="hide-for-medium-up top-bar tab-bar">
        <section class="left-small">
          <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
        </section>

        <section class="middle tab-bar-section">
          <h1 class="title">Foundation</h1>
        </section>
      </nav>
      <!-- New Off Canvas HTML End -->

      <aside class="left-off-canvas-menu">
        <ul class="off-canvas-list">
          <li><label>Foundation</label></li>
          <li><a href="#">The Psychohistorians</a></li>
          ...
        </ul>
      </aside>

      <section class="main-section">
        <div class="row main-body inner-wrap">
          <div class="small-12 large-12 columns">
            
            <div data-ng-view></div>

            <hr/>
            <footer>
              <dl ng-controller="TopBar" class="sub-nav" ng-cloak>
                <dd ng-repeat="item in items" ng-click="select(item)"><a href="{{item.url}}" ng-cloak>{{item.name}}</a></dd>
              </dl>
              <p>&copy; Copyright 2013 <a href="http://foundersbaptist.org">Founders Baptist Church</a></p>
            </footer>
          </div>
        </div>
      </section>

    <a class="exit-off-canvas"></a>

    </div>
  </div>

<!--
  <div>
    <ul class="joyride-list" data-joyride>
      <li data-button="Take the Tour">
        <p>Hello and welcome to the <span class="optimus">Multiply Student Ministry</span> website!</p>
        <p>Click the following button to take a tour of this website.</p>
      </li>
      <li data-id="nav" data-class="custom so-awesome" data-text="Next" data-options="tipLocation:bottom">
        <h4>Navigation Menu</h4>
        <p>From here you can access all the pages of this website from events to podcasts.</p>
      </li>
      <li data-id="socialMedia" data-class="custom so-awesome" data-text="Next" data-options="tipLocation:bottom">
        <h4>Social Media Links</h4>
        <p>These links bring you to our Facebook, Twitter, and Youtube pages.</p>
      </li>
      <li data-id="subscribeButton" data-class="custom so-awesome" data-button="Next" data-options="tipLocation:bottom">
        <h4>Subscribe</h4>
        <p>Here you can subscribe to push-notifications for your mobile device to keep you updated whenever there is new content.</p>
      </li>
      <li data-button="End">
        <h4>Stop #3</h4>
        <p>It works as a modal too!</p>
      </li>
    </ul>
  </div>
  -->

  <script src="js/jquery-1.10.2.min.js"></script>
  <script src="js/foundation.min.js"></script>

  <script>
    $(document).foundation();
  </script>

  <script src="js/angular/angular.min.js"></script>
  <script src="js/angular/angular-route.min.js"></script>
  <script src="js/angular/angular-sanitize.min.js"></script>

  <script src="js/angulartics.min.js"></script>
  <script src="js/angulartics-google-analytics.min.js"></script>
  <script src="js/vendor/fastclick.js"></script>
  <script src="js/mediaelement-and-player.min.js"></script>
  <!--
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
  -->
  <script src="js/app.js"></script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-44418703-1', 'multiplystudentministry.com');
    //ga('send', 'pageview');
  </script>

  <!-- RefTagger from Logos. Visit http://www.logos.com/reftagger. This code should appear directly before the </body> tag. -->
  <script src="http://bible.logos.com/jsapi/referencetagging.js"></script> 
    
</body>
</html>
