<div ng-controller="AboutController" class="row">
  <div class="small-12 large-12 columns">
    <h1>{{title}}</h1>
  </div>

  <div class="large-12 columns hide-for-large-up">
    <select ng-model="currentOption" ng-change="switchOption()" ng-options="option.title for option in options">
    </select>
    
    <div class='swipe' swipejs>
      <div class='swipe-wrap'>
        
        <div ng-repeat="option in options">
          <div class="panel">
            <h2>{{ option.title }}</h2>
            <p>{{ option.content }}</p>
          </div>
        </div>

      </div>
    </div>

    <a class="button" ng-click="prevSlide()">Previous</a>
    <a class="button" ng-click="nextSlide()">Next</a>
  </div>


  <div class="show-for-large-up">
    <div class="large-3 columns">
      <ul class="side-nav">
        <li ng-class="{active: isMissionStatement}" ng-click="getMissionStatement()"><a>Mission Statement</a></li>
        <li ng-class="{active: isOurYouthPastor}" ng-click="getOurYouthPastor()"><a>Our Youth Pastor</a></li>
        <li class="divider"></li>
      </ul>
    </div>
    <div class="expand-on-small large-9 columns">
      <div class="panel">
        <h2>{{ subtitle }}</h2>
        <p>{{ content }}</p>
      </div>
    </div>
  </div>
</div>
