<div ng-controller="AboutController" class="row">
  <!-- <Page Title> -->
  <div class="small-12 large-12 columns">
    <h1>{{title}}</h1>
  </div>
  <!-- </Page Title> -->

  <!-- <View for Small/Medium Screens> -->
  <div class="small-12 columns hide-for-large-up">
    <select ng-model="currentOption" ng-change="switchOption()" ng-options="option.title for option in options">
    </select>
    
    <div class='swipe' swipejs>
      <div class='swipe-wrap'>
        
        <div ng-repeat="option in options">
          <img ng-src="{{ option.src }}"/>
          <div class="panel">
            <h2>{{ option.title }}</h2>
            <div ng-bind-html="content"></div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- </View for Small/Medium Screens> -->

  <!-- <View for Large Screens> -->
  <div class="show-for-large-up">
    <div class="large-3 columns">
      <ul class="side-nav">
        <li ng-repeat="slide in slides" 
          ng-class="{ active: slide.isActive }"
          ng-click="selectSlide(slide, $index)">
          <a>{{slide.title}}</a>
        </li>
        <li class="divider"></li>
      </ul>
    </div>
    <div class="expand-on-small large-9 columns">
      <img style="width: 100%;" ng-src="{{ src }}"/>
      <div class="panel">
        <h2>{{ subtitle }}</h2>
        <div ng-bind-html="content"></div>
      </div>
    </div>
  </div>
  <!-- <View for Large Screens> -->
</div>
