<div ng-controller="NewHomeController">
  <!-- <Sub Header> -->
  <div class="row">
    <div style="height: 120px;" class="small-12 columns show-for-medium-up">
      <h2 style="margin: 0; position: relative; font-size: 2em; left: 15px; letter-spacing: -4px;">
        <span>M</span>
        <span>A</span>
        <span>T</span>
        <span>T</span>
        <span>H</span>
        <span>E</span>
        <span>W</span>
        <span>&nbsp;</span>
        <span>&nbsp;</span>
        <span style="font-size: 1.2em;">2</span>
        <span style="font-size: 1.2em;">8</span>
        <span style="font-size: 1.2em;">:</span>
        <span style="font-size: 1.2em;">1</span>
        <span style="font-size: 1.2em;">9</span>
        <span style="font-size: 1.2em;">-</span>
        <span style="font-size: 1.2em;">2</span>
        <span style="font-size: 1.2em;">0</span>
      </h2>
      <h2 style="margin: 0; position: relative; font-size: 2em; top: -30px; left: 0px; letter-spacing: -7px; color: #ff2701;">
        <span style="font-size: 2.3em;">M</span>
        <span style="font-size: 2.3em;">U</span>
        <span style="font-size: 2.3em;">L</span>
        <span style="font-size: 2.3em;">T</span>
        <span style="font-size: 2.3em;">I</span>
        <span style="font-size: 2.3em;">P</span>
        <span style="font-size: 2.3em;">L</span>
        <span style="font-size: 2.3em;">Y</span>
      </h2>
      <h2 style="margin: 0; position: relative; font-size: 2em; top: -60px; left: 5px; letter-spacing: -4px;">
        <span>S</span>
        <span>T</span>
        <span>U</span>
        <span>D</span>
        <span>E</span>
        <span>N</span>
        <span>T</span>
        <span>&nbsp;</span>
        <span>M</span>
        <span>I</span>
        <span>N</span>
        <span>I</span>
        <span>S</span>
        <span>T</span>
        <span>R</span>
        <span>Y</span>
      </h2>
    </div>
    <div style="height: 120px;" class="small-12 columns show-for-small">
      <h2 style="margin: 0; position: relative; left: 5px; letter-spacing: -3px;">
        <span>M</span>
        <span>A</span>
        <span>T</span>
        <span>T</span>
        <span>H</span>
        <span>E</span>
        <span>W</span>
        <span>&nbsp;</span>
        <span>&nbsp;</span>
        <span style="font-size: 1.3em;">2</span>
        <span style="font-size: 1.3em;">8</span>
        <span style="font-size: 1.3em;">:</span>
        <span style="font-size: 1.3em;">1</span>
        <span style="font-size: 1.3em;">9</span>
        <span style="font-size: 1.3em;">-</span>
        <span style="font-size: 1.3em;">2</span>
        <span style="font-size: 1.3em;">0</span>
      </h2>
      <h2 style="margin: 0; position: relative; top: -20px; left: 0px; letter-spacing: -5px; color: #ff2701;">
        <span style="font-size: 2.3em;">M</span>
        <span style="font-size: 2.3em;">U</span>
        <span style="font-size: 2.3em;">L</span>
        <span style="font-size: 2.3em;">T</span>
        <span style="font-size: 2.3em;">I</span>
        <span style="font-size: 2.3em;">P</span>
        <span style="font-size: 2.3em;">L</span>
        <span style="font-size: 2.3em;">Y</span>
      </h2>
      <h2 style="margin: 0; position: relative; top: -40px; left: 0px; letter-spacing: -3px;">
        <span>S</span>
        <span>T</span>
        <span>U</span>
        <span>D</span>
        <span>E</span>
        <span>N</span>
        <span>T</span>
        <span>&nbsp;</span>
        <span>M</span>
        <span>I</span>
        <span>N</span>
        <span>I</span>
        <span>S</span>
        <span>T</span>
        <span>R</span>
        <span>Y</span>
      </h2>
    </div>
  </div>
  <hr/>
  <!-- </Sub Header> -->
  
  <!-- <Image Slider> -->
  <div class="row">
    <div class="small-12 columns" style="padding-left: 0; padding-right: 0;">
      <div id='slider' class='swipe'>
        <div class='swipe-wrap'>
          <div>
            <a href="">
              <img ng-src="img/slide0-MainSlide.png"/>
            </a>
          </div>
          <div>
            <a href="#/about">
              <img ng-src="img/slide1-Welcome.png"/>
            </a>
          </div>
          <div>
            <a href="">
              <img ng-src="img/slide1-Welcome.png"/>
            </a>
          </div>
        </div>
      </div>

      <ol class="orbit-bullets">
        <li class="" ng-repeat="bullet in bullets" ng-click="click(bullet)" ng-class="{active: bullet === selectedBullet}" data-orbit-slide="bullet.number">
        </li>
      </ol>
    </div>
  </div>
  <!-- </Image Slider> -->

  <!-- <Welcome Message> -->
  <div class="row">
    <div class="small-12 columns">
      <h2 style="color: #ff2701;">Welcome to Multiply Student Minstry</h2>
      <h4>We are the Youth Ministry of Founders Baptist Church.</h4>
    </div>
  </div>
  <!-- </Welcome Message> -->

  <!-- <Connect Panel> -->
  <div class="row">
    <div class="small-12 columns">
      <hr/>
      <h2 style="color: #ff2701;">Connect</h2>
    </div>
    <div style="background-color: #222;"  class="expand-on-small small-12 columns">
      <div>
        <br/>
        <p style="color: white;">
          We have a variety of ways to keep you informed of our activities here at <span class="optimus">Multiply Student Ministry</span>
        </p>
        <a href="https://launch.alertrocket.com/register?appKey=a9439828ac2b41948c73cfdd9ce2b184">
          <div class="small-12 medium-6 columns">
            <h3 style="color: #ff2701;"><i class="foundicongen-star" target="_blank"></i> NOTIFICATIONS</h3>
          </div>
        </a>
        <a href="https://www.facebook.com/pages/Multiply-Student-Ministry/162835727236764">
          <div class="small-12 medium-6 columns">
            <h3 style="color: #ff2701;"><i class="foundicon-facebook"></i> FACEBOOK</h3>
          </div>
        </a>
        <a href="https://twitter.com/MultiplySM">
          <div class="small-12 medium-6 columns">
            <h3 style="color: #ff2701;"><i class="foundicon-twitter"></i> TWEETS</h3>
          </div>
        </a>
        <a href="http://www.youtube.com/channel/UC1_FvX4zpH6mjViinxhsQqg">
          <div class="small-12 medium-6 columns">
            <h3 style="color: #ff2701;"><i class="foundicon-youtube"></i> YOUTUBE</h3>
          </div>
        </a>
      </div>
    </div>
  </div>
  <!-- </Connect Panel> -->

</div>