<div ng-controller="NewHomeController">
  <!-- <Sub Header> -->
  <div msm-home-header></div>
  <hr/>
  <!-- </Sub Header> -->

  <!-- <Image Slider> -->
  <div class="row">
    <div class="small-12 columns" style="padding-left: 0; padding-right: 0;">
      <div id='slider' class='swipe'>
        <div class='swipe-wrap'>
          <div ng-repeat="slide in slides">
            <a ng-if="!slide.hasTarget" href="{{slide.url}}">
              <img ng-src="{{slide.src}}">
            </a>
            <a ng-if="slide.hasTarget" href="{{slide.url}}" target="_blank">
              <img ng-src="{{slide.src}}">
            </a>
          </div>
        </div>
      </div>

      <div class="orbit-container">
        <ol class="orbit-bullets">
          <li ng-repeat="bullet in bullets" ng-click="click(bullet)" ng-class="{active: bullet.number === selectedBullet.number}" data-orbit-slide-number="bullet.number">
          </li>
        </ol>
      </div>
      
    </div>
  </div>
  <!-- </Image Slider> -->

  <!-- <Welcome Message> -->
  <div class="row">
    <div class="small-12 columns">
      <h2 style="color: #ff2701;">Welcome to Multiply Student Minstry</h2>
      <h4>We are the Youth Ministry of Founders Baptist Church.</h4>
    </div>
  </div>
  <!-- </Welcome Message> -->

</div>