<div ng-controller="InitiativeController" class="row">
	<div class="small-12 large-12 columns">
  	<h1>{{title}}</h1>
  </div>
  <div ng-show="hasImage" class="expand-on-small small-12 large-12 columns">
    <img class="show-for-small" src={{image}} data-interchange="[img/NT_EPISTLES.png, (default)], [img/NT_EPISTLES.png, (small)]">
  </div>

  <div class="large-3 columns">
  	<ul class="side-nav">
  		<li data-ng-repeat="tab in mainTabs | orderBy:'index':number" ng-class="{active: tab.isActive}" ng-click="loadTemplate(tab.data, tab.index)"><a>{{tab.title}}</a></li>
  		<li class="divider"></li>
		</ul>
  </div>

  <div class="expand-on-small large-9 columns">
    <div style="margin-bottom: 15px" class="large-12 columns show-for-medium-up">
      <img ng-show="hasImage" class="" src={{image}}>
    </div>

    <div class="large-12 columns show-for-medium-up">
      <div ng-repeat="meditation in displayed">
        <div class="panel">
          <h2>{{meditation.title}}</h2>
          <h3>{{meditation.dateText}}</h3>
          <br/>
          <div ng-bind-html="meditation.content"></div>
        </div>
      </div>
    </div>

    <div class="show-for-small" ng-repeat="meditation in displayed">
      <div class="panel">
        <h2>{{meditation.title}}</h2>
        <h3>{{meditation.dateText}}</h3>
        <br/>
        <div ng-bind-html-unsafe="meditation.content"></div>
      </div>
    </div>
  	
  </div>
</div>