<div ng-controller="InitiativeController" class="row">
  <!-- <Page Title> -->
	<div class="small-12 large-12 columns">
  	<h1>{{title}}</h1>
  </div>
  <!-- </Page Title> -->

  <!-- <View for Small/Medium Screens> -->
  <div class="small-12 columns hide-for-large-up">
    <select ng-model="currentOption" ng-options="tab.title for tab in mainTabs" ng-change="switchOption()">
    </select>
  </div>
  <!-- </View for Small/Medium Screens> -->

  <!-- <View for Large Screens> -->
  <div class="show-for-large-up">
    <div class="large-3 columns">
      <ul class="side-nav">
        <li data-ng-repeat="tab in mainTabs | orderBy:'index':number" ng-class="{active: tab.isActive}" ng-click="loadTemplate(tab.index)"><a>{{ tab.title }}</a></li>
        <li class="divider"></li>
      </ul>
    </div>
  </div>
  <!-- </View for Large Screens> -->

  <div class="small-12 large-9 columns">
    <div class="clearfix">
      <a class="hide-for-touch no-text-select left" ng-click="prevSlide()"><i class="foundicongen-left-arrow" style="color: #ff2701; font-size: 3em;"></i></a>
      <a class="hide-for-touch no-text-select right" ng-click="nextSlide()"><i class="foundicongen-right-arrow" style="color: #ff2701; font-size: 3em;"></i></a>
      <h1 class="text-center">{{ subtitle }}</h1>
    </div>
    <div class='swipe' swipejs>
      <div class='swipe-wrap'>
        
        <div ng-repeat="option in options">
          <div class="panel">
            <h2>{{option.title}}</h2>
            <h3>{{option.dateText}}</h3>
            <br/>
            <div ng-bind-html="option.content"></div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>