<div ng-controller="SundaySchoolController" class="row">
  <!-- <Page Title> -->
	<div class="small-12 large-12 columns">
  	<h1>{{title}}</h1>
  </div>
  <!-- </Page Title> -->

  
  <!-- <Reveal Modal> -->
  <div id="myModal" class="reveal-modal" data-reveal>
    <div class="small-6 medium-6 large-4 column">
      <img ng-src="{{ current.img }}" style="width: 100%; margin-bottom: 10px;">
    </div>
    <div class="small-6 medium-6 large-8 column">
      <h2>{{ current.name }}</h2>
      <p class="lead">Grade: {{ current.gradeLevel }}</p>
    </div>
    <div class="small-12 column" ng-bind-html="current.content">
    </div>
    <a class="close-reveal-modal">&#215;</a>
  </div>
  <!-- </Reveal Modal> -->


  <!-- <View for Small/Medium Screens> -->
  <div class="small-12 columns hide-for-large-up">
    <select ng-model="currentOption" ng-options="tab.title for tab in slideArray" ng-change="switchOption()">
    </select>
  </div>
  <!-- </View for Small/Medium Screens> -->


  <!-- <View for Large Screens> -->
  <div class="show-for-large-up">
    <div class="large-3 columns">
      <ul class="side-nav">
        <li ng-click="loadCurrent()" 
          ng-if="!isCurrent"
          ng-class="{active: ($index === activeSlide) }">
          <a>Return to Current Posts</a>
        </li>
        <li ng-if="!isCurrent"
          class="divider">
        </li>
        <li ng-repeat="tab in slideArray | limitTo: lastVisible | limitTo: -maxVisible" 
          ng-click="loadSlide(tab.index)"
          ng-class="{active: (tab.index === activeSlide) }">
          <a>{{ tab.title }}</a>
        </li>
        <li class="divider"></li>
        <li ng-click="loadArchives()" 
          ng-if="isCurrent">
          <a>Archives</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- </View for Large Screens> -->


  <!-- <Infinite Swipe Element> -->
  <div class="small-12 large-9 columns">
    <div infinite-swipe
      slides="slideArray"
      min-length="1"
      active-index="activeSlide"
      fixed-height="712"
      compiled-elem="compiledElem">
    </div>
  </div>
  <!-- </Infinite Swipe Element> -->
  
</div>