<div ng-controller="UpdatesUpcoming" class="row">
  <div class="small-12 large-12 columns">
    <h1>{{title}}</h1>
  </div>

  <div ng-repeat="year in allUpcomingEvents">
    <div class="small-12 large-12 columns">
      <hr/>
      <h1>{{year.year}}</h1>
    </div>

    <div ng-repeat="event in year.events">
      <div class="expand-on-small small-12 large-12 columns">
        
        <!-- Swipe Banner -->
        <div class='swipe' swipe-event style="height: 360px; margin-bottom: 20px;">
          <div class='swipe-wrap'>
            <div msm-event-img
              url-gt-md="event.imgLarge"
              url-sm="event.imgSmall"
              ng-click="toggle()">
              <div msm-event-label
                title="event.title"
                date="event.dateText"
                show-title-gt-md="event.showTitleGtMd"
                show-date-gt-md="event.showDateGtMd"
                show-click-gt-md="event.showClickGtMd"
                show-title-sm="event.showTitleSm"
                show-date-sm="event.showDateSm"
                show-click-sm="event.showClickSm"
                ></div>
            </div>
            <div class="panel" ng-click="toggle()" style="height: 360px; overflow-y: scroll; 
              background: #ffffff; /* Old browsers */
              background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
              background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
              background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
              background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
              background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
              background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */ ">
              <h2>{{event.title}}</h2>
              <h3>{{event.dateText}}</h3>
              <br/>
              <div ng-bind-html="event.content"></div>
            </div>
          </div>
        </div>
        <!-- Swipe Banner -->

      </div>
    </div>
  </div>

</div>
